span.st-emotion-cache-10trblm.e1nzilvr1{
    font-family: Arial, sans-serif;
    text-align: center;
    color: purple;
    border-radius: 50px;
}

header.st-emotion-cache-18ni7ap.ezrtsby2
{
    background-color: lightblue;
}

div.row-widget.stButton
{
    font-family: Arial, sans-serif;
    text-align: center;
}

div.st-emotion-cache-1lwzzt9.e1nzilvr5
{
    font-size: 150px;
    font-family: Arial, sans-serif;
}

div.appview-container.st-emotion-cache-1wrcr25.ea3mdgi9
{
    font-family: Arial, sans-serif;
    background-color: white;

}

header.st-emotion-cache-17w4bt8.ezrtsby2
{
    background-color: orange;
}
div > img
{
    border-radius: 150px ;
}

span.st-emotion-cache-10trblm.e1nzilvr1
{
    font-family: Arial, sans-serif;
    text-align: center;
    color: blue;
    border-radius: 15px 50px 30px;
}

div.st-emotion-cache-gjm0pg.e1nzilvr5
{
    color: grey;
}